.khan__link {
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
}

@media screen and (max-width: 767px) {
  .khan__link {
    margin-left: 28px;
    font-size: 20px;
    line-height: 32px;
  }
}
