.feynman {
  position: relative;
  min-height: 810px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url('../../images/feinman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}
