.two-columns__title {
  max-width: 175px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 21.6px;
  color: #2f80ed;
}

@media screen and (max-width: 767px) {
  .two-columns__title {
    max-width: 100%;
  }
}
