.feynman__subtitle {
  margin: 70px 0 0;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .feynman__subtitle {
    margin: 20px 0 0;
    font-size: 26px;
    line-height: 51px;
  }
}
