.table {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  column-gap: 33px;
  row-gap: 60px;
  max-width: 1100px;
  margin: 60px auto 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .table {
    margin: 80px auto 0;
  }
}
